@import "./tokens.css";

html,
body {
  /* todo: remove trial font */
  font-family: "Berkeley Mono Trial", "Courier Prime", monospace;
  background-color: var(--bg-light);
  color: var(--text-light);

  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }
  padding-top: 5dvh;
}
